
p.detail-post-heading.card-text {
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
}
span.detail-post {
    font-size: 14px;
    font-weight: 500;
}
button.livechat.btn.btn-primary {
    float: left;
    width: 90px;
}
.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul.Navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 3%;
}