* {
 
  justify-content: "center";
  align-items: "center";
 }
.container{height:100vh}
.App {
  text-align: center;
 max-height:100%;
  max-width: 100%;
  /* background-color: #FAFAFA; */
  /* background-image: url('../../../assets/img/background-image.png'); */
  background-repeat: repeat;
  background-size: cover;
  
  
}


.flex-container {
  
    display: flex;
    box-shadow: "none";
  overflow: "visible";
  
  position: "relative";
  margin-top: '-35px';
  align-items: "center";
    flex-grow: 1;
    flex-basis: "50%";
    width: "50%";
    
}
.flex-container > div {
   max-width: 50%;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    
  }
  


.right-column{
  box-shadow: "none";
  overflow: "visible";
  display: "flex";
  position: "relative";
  margin-top: '-35px';
  align-items: "center";
    flex-grow: 1;
    flex-basis: "50%";
    width: "50%";
}

.logo{width:25%}
/* label{
  font-size: 15px;
  float: none;
  padding: -34px;
  
  margin-left: 250px;
  padding-left: 400px;
  font-weight: 500;
  padding-bottom: 30px;
  font-weight: 500;
  font-style: italic;
  color: #F0B032;
} */
.logo {
  /* width: 25%; */
  padding: 2px;
  height: 130px;
  width: 220px;
}
.slagon {
  font-size: 19px;
  color: black;
  font-weight: 400;
}
span.slagon-part-2 {
  color: #F0B032;
}
img.left {
  padding-top: 80px;
}

input.text-username {
  font-size: 20px;
  /* text-align: center; */
  padding-left: 30px;
}
.text-username {
  margin-top: 20px;
  border: 2px solid #F0B032;
  height: 50px;
  /* padding: 2px 43px; */
  border-radius: 80vh;
  margin-bottom: 20px;
  width: 60%;
  margin-left: 20px;
  /* font-size: 20px; */
 
}
input.user-password {
  /* padding-top: 20px; */
  margin-top: 5px;
}

.user-password{
 
  border: 2px solid #F0B032;
  height: 50px;
  /* padding: 2px 43px; */
  border-radius: 80vh;
  margin-bottom: 20px;
  width: 60%;
  margin-left: 20px;
  /* font-size: 20px; */
}
input.user-password {
  font-size: 20px;
  /* text-align: center; */
  padding-left: 30px;
}

.login-button {
  width: 35%;
  font-size: 14px;
  min-height: 48px;
  font-weight: 600;
  border-radius: 1000px;
  text-transform: none;
  background-color: #f0b032;
  /* float: right; */
  color: #fff;
  border: #fff;
  width:35%;
  margin-left: 30px;
  
}
.account {
  
    width: 45%;
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 15px; */
    /* float: right; */
    margin-left: 150px;
    margin-top: 10px;

}
link{color: #000;
  text-decoration: none;}
.register {
  
    /* width: 35%; */
    font-size: 14px;
    /* min-height: 48px; */
    font-weight: 600;
    border-radius: 1000px;
    text-transform: none;
    background-color: #f0b032;
    /* float: right; */
    color: #fff;
    border: #fff;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    margin-left: 25px;
}

a.register:hover  a:hover  link:hover {
  color: #000 !important;
  border: 2px solid #F0B032;
  background: #fff;
  text-decoration: none
}
.m-4 {
  margin: 0;
 }
.validationError {
  /* background-color: #f1dddd; */
  border: 2px solid #de7575;
  color: #c20707;
  /* border-radius: 1000px; */
  font-size: 20px;
  width: 50%;
 
  margin-top: 20px;
}
.validationError.m-4 {
  margin-left: 120px!important;
}
a.register {
  color: #fff;
}
a.register:hover {
  border: 2px solid #f0b032;
  color: #000 !important;
}
a.register:focus {
  border: 2px solid #f0b032;
  color: #000 !important;
}
link{color: #000;
text-decoration: none;}
a:hover {
  /* color: #0a58ca; */
  color: #000;
}


